body {
  font-size: 16px;
  line-height: 1.2;
}

@media(min-width:900px) {
  .jumbotron {
  font-size: 24px;
  line-height: 1.2;
  }
}

.jumbotron{
  text-align: center;
  background-color: rgba(125, 201, 227, 0.5);
  color: white;
  position: fixed;
  bottom: 40%;
  left: 15%;
  right: 15%;
}

.jumbotron p{
  font-size: 120%;
}

.jumbotron h1{
  font-size: 250%;
}

.carousel, .carousel:after{
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: 0;
  pause: "false";
}

.carousel img{
  width: 100%;
  height: 100%;
}

.card-image {
  width: 100%;
}

.full-screen {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.well {
  color: #555555;
}

.initial-well-value {
  margin-top: 20px;
}

#recipeCards {
  display: none;
  /*position: fixed;
  bottom: 40%;
  left: 15%;
  right: 15%;*/
}
