body {
  font-size: 16px;
  line-height: 1.2;
  background-color: rgba(125, 201, 227, 0.3);
}

@media(min-width:900px) {
  .jumbotron, .recipeBanner{
  font-size: 24px;
  line-height: 1.2;
  }
}

.jumbotron{
  text-align: center;
  background-color: rgba(125, 201, 227, 0.5);
  color: white;
  position: fixed;
  bottom: 40%;
  left: 15%;
  right: 15%;
}

.jumbotron p{
  font-size: 120%;
}

.jumbotron h1{
  font-size: 250%;
}

.carousel, .carousel:after{
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: 0;
  pause: "false";
}

.carousel img{
  width: 100%;
  height: 100%;
}

.card-image {
  width: 100%;
}

.full-screen {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.well {
  color: #555555;
}

.initial-well-value {
  margin-top: 20px;
}

.recipeBanner {
  display: none;
  width: 100%;
  height: 10em;
  color: white;
  margin-top: 1em;
  position: relative;
}

.recipeBanner h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 250%;
}

#asianBackground {
  background-image: url(../img/asian.jpg);
  background-position: 65% 50%;
  /*background-size: cover;*/
}

#americanBackground {
  background-image: url(../img/american.jpg);
  background-position: 70% 70%;
  background-size: cover;
}

#europeanBackground {
  background-image: url(../img/european.jpg);
  background-position: 0% 60%;
  background-size: cover;
}

#latinBackground {
  background-image: url(../img/latin.jpg);
  background-position: 20% 40%;
  background-size: cover;
}

.social-icons {
  width: 30px;
  height: 30px;
  /*display: none;*/
  /*margin-left: 5px;*/
}

.btn-recipe-card {
  margin-right: 70px;
}

#recipeCards {
  display: none;
  margin-top: 1em;
}

#recipeCards h1 {
  text-align: center;
  color: white;
}

.ad {
  padding: 0;
}

.ad h3 {
  padding-top: 2%;
  color: red;
}

.ad  button {
  margin-bottom: 2%;
}

.ad div {
  border: black;
  border-style: solid;
  border-width: thin;
  text-align: center;
  background-color: white;
  margin-bottom: 3%;
}

.ad img {
  width: 100%;
  padding-left: 2%;
  padding-right: 2%;
}


.ingredient:hover {
  cursor: pointer;
}

.ingredient {
  color: rgba(0, 102, 102, 0.5);
  text-decoration: underline;
  font-weight: bold;
}

.print  {
  background-color: white;
}
