.jumbotron{
  text-align: center;
  background-color: rgba(125, 201, 227, 0.5);
  color: white;
  position: fixed;
  bottom: 40%;
  left: 15%;
  right: 15%;
}

.jumbotron p{
  font-size: 150%;
}

.jumbotron h1{
  font-size: 400%;
}

.carousel, .carousel:after{
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: 0;
}

.carousel img{
  width: 100%;
  height: 100%;
}

.card-image {
  width: 100%;
}

.full-screen {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.well {
  color: #555555;
}

.initial-well-value {
  margin-top: 20px;
}

#landingPage, #landingCarousel {
  display: none;
}
